<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>
      This is just an example
    </h1>
    <p>
      The website is currently under maintance,please wait for a second.
    </p>
  </body>
</html>
